/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    height: 100%;
}
body {
    min-height: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
}

app-root {
    display: flex;
    justify-content: center;
    height: 50%;
    min-width: 1000px;
    margin-top: 100px;
}